/* Custom font CSS Start */
@font-face{
	font-family: Asiyah;
	src:url(../fonts/Asiyah_Script.ttf)
}
/* Custom font CSS Stop */
/* Main CSS Start */
*{
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
	height: auto;
}
body{
	font-family: sans-serif;
}
h1,h2,h3,h4,h5,h6{
	margin: 0 0 15px;
	font-weight: normal;
	font-family: Asiyah;
}
a:focus, input:focus, teaxarea:focus, button:focus{outline: 0 solid;}
a:hover{
	text-decoration: none;
}
.section-padding{padding: 80px 0;}
/* Main CSS Stop */
/* ===  Section CSS Start === */
.carousel-bg-1{background-image: url(../img/carousel-bg-1.jpg);}
.carousel-bg-2{background-image: url(../img/carousel-bg-2.jpg);}
.carousel-bg-3{background-image: url(../img/carousel-bg-3.jpg);}
html, body {
  height: 100%;
}
.single-carousel-item {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-color: #ddd;
  display: table;
  width: 100%;
}
.carousel-item-tablecell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.carousel-item-tablecell h1 {
  font-size: 150px;
  margin-bottom: 0;
}
.boxed-btn {
  background-color: #df358d;
  color: #fff;
  display: inline-block;
  padding: 10px 38px;
  border-radius: 5px;
  margin-top: 30px;
}
/* Carousel CSS Start */
.homepage-slides, .homepage-slides div {
  height: 100%;
}
.homepage-slides div.carousel-item-tablecell, 
.homepage-slides div.carousel-item-tablecell div, 
.homepage-slides div.owl-nav, 
.homepage-slides div.owl-nav button, 
.homepage-slides div.owl-dots, 
.homepage-slides div.owl-dots button {
  height: auto;
}
	/* OWL NAV WORK */

.homepage-slides.owl-carousel .owl-nav button {
  position: absolute;
  left: 50px;
  top: 50%;
  color: #fff;
  font-size: 50px;
  line-height: 60px;
  margin-top: -30px;
  display: inline-block;
}
.homepage-slides.owl-carousel .owl-nav button.owl-next {
  left: auto;
  right: 50px;
}
	/* dotsData & Dots CSS Work */
	
.homepage-slides.owl-carousel .owl-dots img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.homepage-slides.owl-carousel .owl-dots div {
  display: inline-block;
  margin-left: 20px;
}
.homepage-slides.owl-carousel .owl-dots {
  position: absolute;
  right: 15%;
  bottom: 0;
}
.homepage-slides.owl-carousel .owl-dots div.active {
  opacity: .5;
}
/* ===  Section CSS Stop === */